@model QLSuaChuaVaLapDat.ViewModel.TimKiemDichVuVM
@{
    ViewData["Title"] = "Tìm kiếm";
}
<form id="searchForm" method="post" asp-action="TimKiemDonDichVu">
    <div class="search-container" id="service-orders">
        <div class="search-header">
            <div class="search-title">Tìm kiếm Đơn dịch vụ</div>
            <div class="search-actions">
                <button type="button" class="btn btn-secondary" onclick="resetForm()">Làm mới</button>
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>

        <div class="search-fields">
            <div class="form-group">
                <label for="so-id">Mã đơn dịch vụ</label>
                <input type="text" id="so-id" name="MaDonDichVu"
                @(Model.donDichVuSearch.MaDonDichVu != null
                                                    ? $"value={Model.donDichVuSearch.MaDonDichVu}"
                                                    : "")
                placeholder="Nhập mã đơn...">

            </div>

            <div class="form-group">
                <label for="so-customer">Khách hàng</label>
                <input type="text" id="so-customer" name="TenKhachHang"
                @(Model.donDichVuSearch.TenKhachHang != null
                                                    ? $"value={Model.donDichVuSearch.TenKhachHang}"
                                                    : "")
                placeholder="Nhập tên hoặc SĐT...">
            </div>

            <div class="form-group">
                <label for="so-technician">Kỹ thuật viên</label>
                <input type="text" id="so-technician" name="IDKyThuatVien"
                @(Model.donDichVuSearch.IDKyThuatVien != null
                                                    ? $"value={Model.donDichVuSearch.IDKyThuatVien}"
                                                    : "")
                placeholder="Nhập id kỹ thuật viên...">
            </div>
            @{
                var trangthai = Model.donDichVuSearch.TrangThaiDV;
            }
            <div class="form-group">
                <label for="so-status">Trạng thái</label>
                <select id="so-status" name="TrangThaiDV" >
                    @if (trangthai == null)
                    {
                        <option value="" selected>Tất cả</option>
                    }
                    else
                    {
                        <option value="">Tất cả</option>
                    }
                    @if (trangthai == "processing")
                    {
                        <option value="processing" selected> 
                            Đang xử lý 
                        </option>
                    }
                    else
                    {
                        <option value="processing">
                            Đang xử lý
                        </option>
                    }
                    @if (trangthai == "completed")
                    {
                        <option value="completed" selected>
                            Hoàn thành
                        </option>
                    }
                    else
                    {
                        <option value="completed">
                            Hoàn thành
                        </option>
                    }

                </select>
            </div>


            <div class="form-group">
                <label for="so-date-from">Từ ngày</label>
                <input type="date" id="so-date-from" name="TuNgay" @(Model.donDichVuSearch.TuNgay != null
                       ? $"value={Model.donDichVuSearch.TuNgay}"
                       : "")>
            </div>

            <div class="form-group">
                <label for="so-date-to">Đến ngày</label>
                <input type="date" id="so-date-to" name="DenNgay" @(Model.donDichVuSearch.DenNgay != null
                       ? $"value={Model.donDichVuSearch.DenNgay}"
                       : "")>
            </div>
        </div>

        <div class="filter-sort">
            <div class="filter-section">
                <span>Lọc theo:</span>
                <select name="IdLoaiThietBi" onchange="submitForm()">
                    @{
                        var idTB = Model.donDichVuSearch.IdLoaiThietBi;
                    }
                    <option value="">Tất cả</option>
                    @foreach (var item in Model.loaiTB)
                    {
                        if (item.IdLoaiThietBi == idTB)
                        {
                            <option value="@item.IdLoaiThietBi" selected>@item.TenLoaiThietBi</option>
                        }
                        else
                        {
                            <option value="@item.IdLoaiThietBi">@item.TenLoaiThietBi</option>
                        }

                    } 
                </select>
                <select name="LoaiDichVu"">
                    <option value="">Loại dịch vụ</option>
                    <option value="Sửa chữa">Sửa chữa</option>
                    <option value="Lắp đặt">Lắp đặt</option>
                </select>
            </div>

            <div class="sort-section">
                <span>Sắp xếp theo:</span>
                <select name="SapXepTheo" ">
                    <option value="">Theo</option>
                    <option value="NgayTaoDesc">Ngày tạo (mới nhất)</option>
                    <option value="NgayTaoAsc">Ngày tạo (cũ nhất)</option>
                    <option value="TongTienDesc">Tổng tiền (cao nhất)</option>
                    <option value="TongTienAsc">Tổng tiền (thấp nhất)</option>
                </select>
            </div>
        </div>

        <div class="select-all-container">
            <label for="select-all-service-orders" style="margin-top: 15px;">
                Chọn tất cả
            </label>
        </div>

        <table class="results-table">
            <thead>
                <tr>
                    <th><input type="checkbox" class="select-all" data-table="service-orders"></th>
                    <th>Mã đơn</th>
                    <th>Khách hàng</th>
                    <th>Thiết bị</th>
                    <th>Loại dịch vụ</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                    <th>Ngày tạo</th>
                    <th>Cập nhật</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DonDichVu)
                {
                    <tr>
                        <td><input type="checkbox" class="row-checkbox"></td>
                        <td>@item.IdDonDichVu</td>
                        @if (item.IdKhachVangLaiNavigation != null)
                        {
                            <td>@item.IdKhachVangLaiNavigation.HoVaTen</td>
                        }
                        else
                        {
                            <td>@item.IdUserNavigation.HoVaTen</td>
                        }
                        <td>@item.IdLoaiThietBiNavigation.TenLoaiThietBi</td>
                        <td>@item.LoaiDonDichVu</td>
                        @if (item.TrangThaiDon == "Hoàn thành")
                        {
                            <td><span class="status status-completed">@item.TrangThaiDon</span></td>
                        }
                        else if (item.TrangThaiDon == "Đang xử lý" || item.TrangThaiDon == "Đang sửa chữa")
                        {
                            <td><span class="status status-partial">@item.TrangThaiDon</span></td>
                        }
                        else if (item.TrangThaiDon == "Đã xác nhận")
                        {
                            <td><span class="status status-confirmed">@item.TrangThaiDon</span></td>
                        }
                        else if (item.TrangThaiDon == "Đã hủy")
                        {
                            <td><span class="status status-cancelled">@item.TrangThaiDon</span></td>
                        }
                        <td>@item.TongTien</td>
                        <td>@(item.NgayTaoDon.HasValue ? item.NgayTaoDon.Value.ToString("dd/MM/yyyy") : "")</td>
                        <td>@item.NgayChinhSua</td>
                        <td><button class="btn btn-edit">Sửa</button></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pagination">
            @{
                int totalPage = Model.Paging.TotalPage;
                int currentPage = Model.Paging.PageActive;
            }

            @for (int i = 1; i <= totalPage; i++)
            {
                <div class="page-item @(i == currentPage ? "active" : "")">@i</div>
            }
        </div>

    </div>
    <input type="hidden" id="page_active" name="PageActive" value="1" />
</form>

<script>

    const pageItems = document.querySelectorAll('.page-item');

      pageItems.forEach(item => {
          item.addEventListener('click', () => {
              // Xóa class active khỏi tất cả
              pageItems.forEach(i => i.classList.remove('active'));
              // Thêm class active cho item được click
              item.classList.add('active');

              // Lấy số trang từ text của item
              const pageNumber = item.innerText.trim();

              // Gán vào input hidden
              document.getElementById('page_active').value = pageNumber;

              // Gửi form
             submitForm();
          });
      });

    function resetForm() {

        const inputs = document.querySelectorAll('#searchForm input, #searchForm select');

        inputs.forEach(input => {
            if (input.type === 'checkbox' || input.type === 'radio') {
                input.checked = false; 
            } else {
                input.value = ''; 
            }
        });

        document.getElementById('page_active').value = '1';

        submitForm();
    }

    function submitForm() {
        document.getElementById("searchForm").submit();
    }
</script>